<div class="container center-block align-content-around flex-wrap">
  <div class="row justify-content-md-center">
      <div class="h1 text-center justify-content-md-center">
  Codenames
      </div>
      <div class="text-justify">
  Play Codenames online across multiple devices on a shared board. To create a new game or join an existing game, enter a game identifier, language, and click the green button.
        <br><br>
        If you don't know how to play Codenames, <a href="https://www.youtube.com/watch?v=zQVHkl8oQEU" target="_blank">this</a> is a great resource.
        <br><br>
  All your gameplays will help the research community understand how humans communicate. So you'll be playing while helping science!
      </div>
  </div>
  <br>
  <form class="row justify-content-md-center">
        <div class="form-group">
            <div class="input-group">
                <input [type]="'text'" autoFocus
                    class="form-control form-control-lg" name="gameid" ng-model="gameid" id="gameid" placeholder="Type in Game ID"
                    [(ngModel)]="this.gameid" (change)="this.gameid = this.gameid" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success btn-lg" id="takerandomcheck" (click)="this.enter()">
                      Start or join game
                    </button>
                </div>
            </div>
            <br>
            <h4>Languages</h4>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" (click)="this.updateLang('en')" autocomplete="off" checked> English (Original)
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('es')" autocomplete="off"> Spanish
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('cn')" autocomplete="off"> Chinese
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('fr')" autocomplete="off"> French
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('he')" autocomplete="off"> Hebrew
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('it')" autocomplete="off"> Italian
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('jp')" autocomplete="off"> Japanese
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('pt')" autocomplete="off"> Portuguese
              </label>
              <label class="btn btn-secondary">
                <input type="radio" (click)="this.updateLang('ru')" autocomplete="off"> Russian
              </label>
            </div>
        </div>
    </form>
    <hr />
    <div class="qrlink">
        <qrcode [qrdata]="this.link" [size]="75" [level]="'M'"></qrcode>
    </div>
    <footer class="page-footer">
        <div class="footer-copyright text-center py-3">
            <small>Code available at <a href="https://github.com/msclar/codenames" target="_blank">github</a>, modified from Sam Weiser's original project</small>
        </div>
    </footer>
</div>
