<div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend" (click)="this.typeSecret = !this.typeSecret">
                    <button class="input-group-text" id="typesecretcheck">
                        <i class="fa" [class.fa-eye]="!this.typeSecret" [class.fa-eye-slash]="this.typeSecret"></i>
                    </button>
                </div>
                <input [type]="this.typeSecret ? 'password' : 'text'" autocomplete="off"
                    class="form-control form-control-lg" name="gameid" id="gameid" placeholder="Type in Game ID"
                    [(ngModel)]="this.gameid" (change)="this.gameid = this.gameid.toLowerCase()" />
                <div class="input-group-append" (click)="this.takeRandom()">
                    <button class="input-group-text" id="takerandomcheck">
                        <i class="fa fa-random"></i> Generate
                    </button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="this.gameid">
            <div class="col">
                <button type="button" class="btn btn-block btn-lg btn-dark" (click)="this.enter(true)">
                    &gt; Enter as Code Master</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-block btn-lg btn-outline-dark" (click)="this.enter(false)">
                    &gt; Enter as Gameboard
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="qrlink">
        <qrcode [qrdata]="this.link" [size]="256" [level]="'M'"></qrcode>
    </div>
</div>